bin/
generated_sources/
shared/
.DS_Store
.idea
.envrc
*.org
rpcimpl/server/*
*.out
tmp/

# Environments
.env
/config.yml
/testrun.json
/testrun.tmp.json
/push-testcase.sh
/loyalty-file-processing-coverage.cov
